@model IEnumerable<Orbit.Models.AwardTypeModel>
@{
    ViewBag.Title = "AwardType";
    Layout = "~/Views/Shared/OrbitLayout.cshtml";
}
<link href="~/vendors/Toast/Toast.css" rel="stylesheet" />
<script src="~/vendors/Toast/Toast.js"></script>

<h2 class="mb-2 lh-sm">AwardType</h2>

<div class="mt-4">
    <div class="row g-4">
        <div class="col-12 col-xl-4">
            <div class="mb-9">
                <div class="card shadow-none border">
                    <div class="card-header p-3 border-bottom bg-body">
                        <div class="row g-3 justify-content-between align-items-center">
                            <div class="col-12 col-md">
                                <h4 class="text-body mb-0">Add AwardType</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-4 code-to-copy">
                            <div class="mb-3">
                                <label class="form-label" for="exampleFormControlInput">Award Type</label>
                                <input type="hidden" class="form-control" id="HID" value="0">
                                <input class="form-control" id="AwardType" type="text">
                            </div>
                            <button id="SaveUpdate" class="btn btn-sm btn-subtle-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-8">
            <div class="card shadow-none border mb-3">
                <div class="card-header p-3 border-bottom bg-body">
                    <div class="row g-3 justify-content-between align-items-end">
                        <div class="col-12 col-md">
                            <h4 class="text-body mb-0">AwardType Details</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="p-4 code-to-copy">
                        <div id="tableExample" data-list='{"valueNames":["name","email","age"],"page":6,"pagination":true}'>
                            <div class="search-box mb-3 mx-auto">
                                <form class="position-relative">
                                    <input class="form-control search-input search form-control-sm" type="search" placeholder="Search" aria-label="Search" />
                                    <span class="fas fa-search search-box-icon"></span>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-sm fs-9 mb-0">
                                    <thead>
                                        <tr>
                                            <th class="sort border-top border-translucent ps-3" data-sort="name">Training Type</th>
                                            <th class="sort border-top border-translucent ps-3" data-sort="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        @{
                                            int a = 0;
                                            foreach (var award in Model)
                                            {
                                                a++;
                                                <tr>
                                                    <td class="align-middle ps-3 name">@award.AwardType</td>
                                                    <td class="align-middle ps-3 action">
                                                        <a onclick="EditAwardType(@award.ID)" class="btn btn-sm btn-subtle-info">
                                                            <span data-feather="edit-3"></span>
                                                        </a>
                                                        <a onclick="DeleteAwardType(@award.ID)" class="btn btn-sm btn-subtle-danger">
                                                            <span data-feather="trash-2"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <span class="d-none d-sm-inline-block" data-list-info="data-list-info"></span>
                                <div class="d-flex">
                                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                                    <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/JQuery/AwardType.js"></script>