
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/OrbitLayout.cshtml";
}

<div class="row gy-3 mb-6 justify-content-between">
    <div class="col-md-9 col-auto">
        <h2 class="mb-2 text-body-emphasis">Dashboard</h2>
        <h5 class="text-body-tertiary fw-semibold">Here’s what’s going on at your business right now</h5>
    </div>
    <div class="col-md-3 col-auto">
        <div class="flatpickr-input-container"><input class="form-control ps-6 datetimepicker" id="datepicker" type="text" data-options='{"dateFormat":"M j, Y","disableMobile":true,"defaultDate":"Mar 1, 2022"}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span></div>
    </div>
</div>

<div class="row mb-3 gy-6">
    <div class="col-12 col-xxl-2">
        <div class="row align-items-center g-3 g-xxl-0 h-100 align-content-between">
            <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center">
                    <span class="fs-4 lh-1 uil uil-users-alt text-primary-dark"></span>
                    <div class="ms-2">
                        <div class="d-flex align-items-end">
                            <h2 class="mb-0 me-2">32</h2><span class="fs-7 fw-semibold text-body">Projects</span>
                        </div>
                        <p class="text-body-secondary fs-9 mb-0">Awating processing</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center">
                    <span class="fs-4 lh-1 uil uil-bag text-success-dark"></span>
                    <div class="ms-2">
                        <div class="d-flex align-items-end">
                            <h2 class="mb-0 me-2">94</h2><span class="fs-7 fw-semibold text-body">Members</span>
                        </div>
                        <p class="text-body-secondary fs-9 mb-0">Working hard</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center">
                    <span class="fs-4 lh-1 uil uil-bag-slash text-warning-dark"></span>
                    <div class="ms-2">
                        <div class="d-flex align-items-end">
                            <h2 class="mb-0 me-2">23</h2><span class="fs-7 fw-semibold text-body">Invoices</span>
                        </div>
                        <p class="text-body-secondary fs-9 mb-0">Soon to be cleared</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center">
                    <span class="fs-4 lh-1 uil uil-file-contract-dollar text-danger-dark"></span>
                    <div class="ms-2">
                        <div class="d-flex align-items-end">
                            <h2 class="mb-0 me-2">3</h2><span class="fs-7 fw-semibold text-body">Refunds</span>
                        </div>
                        <p class="text-body-secondary fs-9 mb-0">Fresh start</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xxl-2">
        <div class="row align-items-center g-3 g-xxl-0 h-100 align-content-between">
            <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center">
                    <span class="fs-4 lh-1 uil uil-ticket text-primary-dark"></span>
                    <div class="ms-2">
                        <div class="d-flex align-items-end">
                            <h2 class="mb-0 me-2">32</h2><span class="fs-7 fw-semibold text-body">Projects</span>
                        </div>
                        <p class="text-body-secondary fs-9 mb-0">Awating processing</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center">
                    <span class="fs-4 lh-1 uil uil-file-contract-dollar text-success-dark"></span>
                    <div class="ms-2">
                        <div class="d-flex align-items-end">
                            <h2 class="mb-0 me-2">94</h2><span class="fs-7 fw-semibold text-body">Members</span>
                        </div>
                        <p class="text-body-secondary fs-9 mb-0">Working hard</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>